# Игнорируем виртуальное окружение
venv/
# Игнорируем файлы Python bytecode
__pycache__/
*.pyc
# Игнорируем файлы логов
*.log
# Игнорируем настройки IDE
.vscode/
.idea/
# Игнорируем системные файлы (например, на MacOS)
.DS_Store
# Игнорируем временные файлы
*.swp
